{%extends 'base.html'%}

{% load crispy_forms_tags%}
{% block content%}
<div class="jumbotron mt-5">
    <form action="" method="post">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">
                Create Tweet
            </legend>
            {{form|crispy}}
        </fieldset>
        <div class="form-group text-center">
            <a class="btn btn-outline-secondary bg-danger text-white" href="javascript:window.history.back()">Cancel</a>
            <button class="btn btn-outline-info bg-primary text-white" type="submit">Submit</button>
        </div>
    </form>

</div>
{%include 'twitterclone/feed.html'%}


{%endblock content%}